@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* NavBar */
header {
    width: 100%;
    height: 80px;
    background: #161616;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
}
.logo img{
    height: 80px;
    width: auto;
}

.hamburger {
    display: none;
}

.nav-bar ul {
    display: flex;
}

.nav-bar ul li a {
    display: block;
    color: #929292;
    font-size: 20px;
    padding: 10px 25px;
    border-radius: 50px;
    transition: 0.2s;
    margin: 0 5px;
}

.nav-bar ul li a:hover {
    color: #8B7F71;
}

.nav-bar ul li a.active {
    color: #8B7F71;
}
/* Hero */

/* Body */
body {
    background: #161616;
    color: #929292;
}

#home,
#about,
#gallery,
#book {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 4.7rem;
}

.hero {
    padding-top: 1.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.collabs {
    padding-left: 1rem;
    padding-right: 1rem;
}

h1 {
    font-weight: 500;
}

h2 {
    font-weight: 600;
    font-size: large;
}

.whiter {
    color: #CCCCCC;
}

 p,
 h1,
 h2,
 h3 {
    text-align: center;
}

.hero .whiter,
h2,
p,
.hero-btn,
.prominent-h1,
.why-me,
.header-container
{
    margin-bottom: 1.5rem;
}

.collabs {
    margin-top: 1.5rem;
}

.hero-btn{
    color: #929292;
    background-color: #161616;
    border: 1px solid #8B7F71;
    border-radius: 14px;
}

button {
    width: 12rem;
    height: 2rem;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: background-color 0.4s;
}

button::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%; 
    height: 100%;
    width: 100%;
    background: #8B7F71; 
    transition: left 0.4s; 
}

button:hover::before {
    left: 100%;
}

h3 {
    font-weight: 600;
}
.hero img {
    height: 212px;
}
.hero img,
.about-content img,
.auto-container img,
.auto-container2 img {
    width: 100%;
    max-width: 330px;
    display: block; 
    margin: 0 auto;
    object-fit:cover;
    border: 1px solid #161616;
    border-radius: 9px;
}

.about-content img {
    height: 60px;
}

.header-container {
    display: column;
    justify-content: center;
}

.value-propositions {
    border: 1px solid #D6DDE9;
    border-radius: 14px;
    padding-top: 1.3rem;
    padding-bottom: 1.3rem;
    background: #1C2430;
}

/* Image Slider */
.slider {
    width: 100%;
    height: auto;
    overflow: hidden;
    padding-left: 10 px;
    padding-right: 10px;
    box-sizing: border-box;
    margin: auto;
}

.slides {
    width: 900%;
    height: 250px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 11.11%;
    transition: 2s;
}

.slide img {
    height: 250px;
    width: 300px;
    max-width: 100%;
    display: block; 
    margin: 0 auto;
    object-fit: cover;
}

#radio1:checked ~ .first { margin-left: 0; }
#radio2:checked ~ .first { margin-left: -11.11%; }
#radio3:checked ~ .first { margin-left: -22.22%; }
#radio4:checked ~ .first { margin-left: -33.33%; }
#radio5:checked ~ .first { margin-left: -44.44%; }
#radio6:checked ~ .first { margin-left: -55.55%; }
#radio7:checked ~ .first { margin-left: -66.66%; }
#radio8:checked ~ .first { margin-left: -77.77%; }
#radio9:checked ~ .first { margin-left: -88.88%; }

.navigation-auto {
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 460px;
    display: none;
}

.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
    background: #161616;
}
#radio2:checked ~ .navigation-auto .auto-btn2 {
    background: #161616;
}
#radio3:checked ~ .navigation-auto .auto-btn3 {
    background: #161616;
}
#radio4:checked ~ .navigation-auto .auto-btn4 {
    background: #161616;
}
#radio5:checked ~ .navigation-auto .auto-btn5 {
    background: #161616;
}
#radio6:checked ~ .navigation-auto .auto-btn6 {
    background: #161616;
}
#radio7:checked ~ .navigation-auto .auto-btn7 {
    background: #161616;
}
#radio8:checked ~ .navigation-auto .auto-btn8 {
    background: #161616;
}
#radio9:checked ~ .navigation-auto .auto-btn9 {
    background: #161616;
}

/* Exquisite */
.exquisite-auto {
    margin-top: 4.7rem;
}

.auto-container img {
    height: 210px;
}

.exquisite-auto h3,
.exquisite-auto p,
.auto-container img {
    margin-bottom: 1rem;
}

.auto-container img,
.exquisite-auto h3 {
    padding-top: 1rem;
}

.exquisite-auto h3 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.auto-info-container .red {
    border: 1px solid rgba(186, 6, 47, 0.44);
    border-radius: 9px;
}

.auto-info-container .mustard {
    border: 1px solid #6C492A;
    border-radius: 9px;
}

.auto-info-container .green {
    border: 1px solid #4E5D31;
    border-radius: 9px;
}

/* Options */

.pricing-card-tag {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pricing-card-tag p {
    padding-top: 3rem;
}

  .pricing-card-offers {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 3rem;
    margin-right: 3rem;
  }

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .options-btn{
    color: #929292;
    background-color: #161616;
    border: 1px solid #8B7F71;
    border-radius: 30px;
    margin-bottom: 5rem;
    height: 2.3rem;
}

/* Contacts */
.auto-container2 img {
    height: 221px;
    margin: 1.3rem 0;
}

/* Footer */